# data/augmentation/
# data/processed/
# data/raw/
*.jpg

models/checkpoints/
# models/logs/
models/final/

# src/model/classifier/__pycache__/
*.pyc
temp_data_dir/
src/model/classifier/vit_pretrained_weights.pth
# src/model/classifier/unified_model_weights.pt
src/model/cell_detect/Train_Cell_Cluster_Detect.ipynb
src/model/cell_detect/*